{% extends 'base.html' %}

{% block title %}
Detalhes de {{cliente.nome}}
{% endblock title %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-3">

            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="https://www.gravatar.com/avatar/59235f35e4763abb0b547bd093562f6e?s=90&d=mm"
                        alt="User profile picture">
                    <h3 class="profile-username text-center">{{ cliente.nome }}</h3>
                    <p class="text-muted text-center">{{ cliente.profissao }}</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Nascimento</b> <a class="pull-right">{{ cliente.data_nascimento }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>CPF</b> <a class="pull-right">{{ cliente.cpf }}</a>
                        </li>
                    </ul>
                    <a href="{% url 'cadastrar_pet' cliente.id %}" class="btn btn-primary btn-block">Cadastrar Pet</a>
                </div>

            </div>
            <div class="box box-primary margin-t-5">
                <div class="box-header with-border">
                    <h3 class="box-title">Pets</h3>
                </div>
                {% for pet in pets %}
                    <a href="{% url 'pet_detail' pet.id %}">
                        <div class="box-body">
                            <strong><i class="fa fa-paw margin-r-5"></i> {{pet.nome}}</strong>
                            <p class="text-muted">
                                {{ pet.get_categoria_display }} - {{ pet.get_cor_display }}
                            </p>
                        </div>
                    </a>
                    <hr>
                {% endfor %}                    
             </div>

        </div>

        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#timeline" data-toggle="tab">Histórico</a></li>
                </ul>
                <div class="tab-content">

                    <div class="active tab-pane" id="timeline">

                        <ul class="timeline timeline-inverse">

                            <li class="time-label">
                                <span class="bg-red">
                                    {% now 'SHORT_DATE_FORMAT' %}
                                </span>
                            </li>
                            {% for consulta in consultas %}
                            <li>
                                <i class="fa fa-paw bg-aqua"></i>
                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-calendar"></i> {{consulta.data}}</span>
                                    <h3 class="timeline-header">
                                        <a href="{% url 'consulta_detail' consulta.id %}">
                                            {{consulta.pet.nome}} realizou uma nova consulta 
                                        </a>
                                    </h3>
                                    <div class="timeline-body">
                                        Motivo da Consulta: {{consulta.motivo}}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                            <li>
                                <i class="fa fa-clock-o bg-gray"></i>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
{% endblock content %}