{% extends 'base.html' %}

{% block title %}
Remover Cliente
{% endblock title %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3>Tem certeza que deseja remover {{ cliente.nome }}?</h3>
        </div>
        <div class="box-body">
            <h5>Nome: {{ cliente.nome }}</h5>
            <h5>Profissão: {{ cliente.profissao }}</h5>
            <h5>Email: {{ cliente.email }}</h5>
            <h5>CPF: {{ cliente.cpf }}</h5>
            <hr>
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Excluir">
            </form>
        </div>
    </div>
{% endblock content %}
